@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.NavBarAll {
    height: 50px; 
    display: flex;
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ce0404;
    box-shadow: 0 4px 8px 0 #0000005d, 0 6px 20px 0 #0000005d;
    overflow: hidden;
  }
  
  .topnav {
    overflow: hidden;
    width: 100%;
      background-color: #ce0404;
      border-bottom: 1px solid white ;
    }
    
    .topnav a {
      text-align: center;
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .active {
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: #ce0404;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: #ce0404;
      color: white;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
      
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
        
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }  
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }
  
  /* -----------Fine NAV BAR css-------------*/ 

  

div#testa {

    background-image: url(fotoheropizza.jpg);
    background-size: cover;
    background-position: center left;
    box-shadow: 600px 0 170px black inset;
    color: white;
    padding: 22% 35px 15% 35px;
}

@media screen and (max-width: 600px){
    div#testa {
        box-shadow: 310px 0 170px black inset;
        padding: 22% 35px 15% 35px;
}}



div#testa button a {
    color: black;
    text-decoration: none;
    padding: 0px 10px;

}





div#simboli ul {
    margin: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}

div#simboli button {
    margin: 20px;
    background-color: white;
    border: 2px solid orangered;
    border-radius: 15px;
    height: 80px; /* Reduced size */
    width: 80px; /* Reduced size */
}

div#simboli img {
    width: 75%;
}

div#simboli a {
    color: black;
    text-decoration: none;
}





div#bio {
    display: flex;
    flex-direction: row; /* Elementi affiancati */
    align-items: center; /* Centra gli elementi verticalmente */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    margin: 20px;
    padding: 20px;
}

div#bio .text-container {
    flex-grow: 1;
    max-width: 600px; /* Larghezza massima per il testo */
}

div#bio img {
    flex-shrink: 0; /* Impedisce all'immagine di ridursi su schermi piccoli */
    max-width: 300px; /* Larghezza massima per l'immagine */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per profondità */
    margin-left: 20px; /* Spazio a sinistra dell'immagine */
}

@media (max-width: 768px) {
    div#bio {
        flex-direction: column; /* Impila verticalmente su schermi piccoli */
        align-items: center; /* Centra gli elementi */
    }

    div#bio img {
        width: 80%; /* Larghezza completa dell'immagine su dispositivi mobili */
        margin: 10px 0; /* Margini sopra e sotto l'immagine */
    }

    div#bio .text-container {
        width: 100%; /* Larghezza completa per il testo su dispositivi mobili */
        padding: 0; /* Rimuove il padding */
    }
}





div#menu {
    margin-top: 28px;
    background-color: #ce0404;
    width: 100%;
    padding-bottom: 50px;
}

div#menu ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

div#menu li {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    width: 40%; /* Ridotto ulteriormente per i computer */
    height: auto;
    box-sizing: border-box;
}

div#menu li img {
    width: 100%;
    height: 150px; /* Altezza fissa per tutte le immagini */
    object-fit: cover; /* Assicura che le immagini si adattino mantenendo le proporzioni */
    border-radius: 10px;
}

div#menu h1 {
    color: white;
    text-align: center;
    padding-top: 30px;
}

/* Regole CSS per dispositivi più grandi */
@media (min-width: 600px) {
    div#menu li {
        width: 34%; /* Dimensioni ancora più piccole per i computer */
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white; /* Sfondo nero */
    border: none;
    color:black; /* Testo bianco */
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative; /* Aggiunto per il posizionamento assoluto dello span */
    overflow: hidden; /* Impedisce agli pseudo-elementi di fuoriuscire */
    text-decoration: none; /* Rimuove il sottolineamento dei link */
    margin: 15px auto 0px auto ; /* Centra il bottone */
    display: block; /* Rende il bottone un blocco per permettere il margin:auto di funzionare */
}

.button span {
    cursor: pointer;
    display: block; /* Rende lo span un blocco per occupare tutto lo spazio del bottone */
    position: relative; /* Relativo alla posizione del bottone */
    transition: 0.5s;
}

.button span:after {
    content: '\00bb'; /* Carattere Unicode per la freccia */
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -20px; /* Posiziona la freccia fuori dal bottone */
    transform: translate(0, -50%); /* Centra la freccia verticalmente */
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px; /* Aggiunge spazio a destra per fare spazio alla freccia */
}

.button:hover span:after {
    opacity: 1;
    right: 10px; /* Muove la freccia all'interno del bottone */
    color: orangered; /* Colore della freccia al passaggio del mouse */
}

.button:hover {
    background-color: black; /* Cambia lo sfondo del bottone al passaggio del mouse */
    color: white; /* Cambia il colore del testo del bottone al passaggio del mouse */
}





#menuItems .hidden {
    display: none;
}

.hidden {
    display: none;
}







div#chisiamo {
    padding: 40px 0px ;

    position: relative;
    background-image: url(https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,w_1200,h_630,d_it:cuisines:pizza-1.jpg/v1/it/restaurants/229541.jpg);
    background-size: cover;
    z-index: 1;
}

div#chisiamo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Nero con opacità del 50% */
    z-index: -1;
}

/* Stili per il contenuto di #orari e #doveCiTroviamo */
div#chiasiamo> * {
    position: relative;
    z-index: 2;
}

div#chisiamo {
    margin-bottom: 0; /* Assicurati che non ci sia margine inferiore */
}

div#footer, .footer {
    padding-top: 0; /* Rimuovi il padding superiore se è presente */
    margin-top: 0; /* Assicurati che non ci sia margine superiore */
}












div#chisiamo ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0px 120px;
}

div#chisiamo li {
    text-align: center;
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    margin: 10px;
}



.orari-container {
    text-align: center; 
}

.orari-container table {
    margin: 0 auto; 
    width: auto; 
}

.orari td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.orari h3 {
    text-align: center;
    margin-bottom: 10px;
}






@media screen and (max-width: 600px) {
    .orari-container {
        width: 100%; /* Sfrutta tutta la larghezza disponibile */
        padding: 20px; /* Aggiunge un po' di padding ai lati */
    }

    .orari-container table {
        width: 90%; /* Imposta la larghezza della tabella al 90% del container */
    }

    .orari-container td {
        white-space: nowrap; /* Impedisce agli elementi di andare a capo */
        font-size: 16px; /* Aumenta la dimensione del testo se necessario */
    }
}

@media screen and (max-width: 600px) {
    div#chisiamo li.luogo iframe {
        width: 95%; /* Larghezza al 90% per non occupare tutta la larghezza dello schermo */
        width: 290px; /* Imposta un'altezza fissa che funzioni bene visivamente */
        margin: 0 auto; /* Centra l'iframe orizzontalmente */
    }
}







    /* -----------Inizio Footer css------------------------*/ 
    .footer {
        background-color: black;
        color: white;
        text-align: center;
        justify-content: center;
        padding: 15px;
    }
    /* -----------Fine Footer css--------------------------*/ 
